<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Character</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<script src='/js/handler.js' defer></script>
<style>
</style>
<body>
    <% if(session.isLoggedIn){ %>
        <a href="../users/homepage?userID=<%=session.userID%>"><div class='text-center color1' id="header">
            <h1>Character Network</h1>
        </div></a>
        
        <h2 class="text-center">Create a Character</h2>
        
        <!--The random values will have to be set in a function by an onclick listener for the random button-->
        <!--The below values are only so the code will run until that is set; delete these variables later-->
            
        <form id="createCharForm" class="<%= session.userID %>">
            <table>
                <tr>
                    <td>
                        <label for="name" class="color2">Name:</label><br>
                        <input type="text" id="name" name="name" value="" required><br>
                        <label for="eyes" class="color2">Eye Color:</label><br>
                        <input type="text" id="eyes" name="eyeColor" value="" required><br>
                        <label for="hair" class="color2">Hair Color:</label><br>
                        <input type="text" id="hair" name="hairColor" value="" required><br>
                        <label for="skin" class="color2">Skin Color:</label><br>
                        <input type="text" id="skin" name="skinColor" value="" required><br>
                    </td>
                    <td class="tdPadding">
                        <label for="traits" class="color2">Character Traits:</label><br>
                        <textarea id="traits" name="characterTraits" value="" rows="10" cols="90" wrap="hard"></textarea><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="feet" class="color2">Feet Tall:</label><br>
                        <input type="text" id="feet" name="feetTall" value="" required><br>
                        
                        <label for="inches" class="color2">Inches Tall:</label><br>
                        <input type="text" id="inches" name="inchesTall" value="" required><br>
                        
                        <label for="gender" class="color2">Gender:</label><br>
                        <select id="gender" name="gender" required><br>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select><br><br>
                        
                        <label for="project" class="color2">Select a Project to Add to</label><br>
                        <select id="projects" name="project">
                            <option value="">None</option>
                            <% for(let i = 0; i < projects.length; i++){ %>
                                <option value="<%= projects[i].projectID %>"> <%=projects[i].projectName%></option>
                            <%  } %>
                        </select><br><br>
                    </td>
                    <td class="tdPadding">
                        <label for="backstory" class="color2">Backstory:</label><br>
                        <textarea id="backstory" name="backstory" value="" rows="10" cols="90" wrap="hard"></textarea><br><br>
                    </td>
                </tr>
            </table>

            <button type="button" id="randomButton" class="fancy-button">Generate Randomly!</button><br/><br/>
            <input type="submit" class="fancy-button big-button" value="Create!">
        </form>
        <div>
            <p class="error"></p>
        </div>
    <% } else { %>
        <%- include('partials/accessDenied.ejs') %>
    <% } %>
</body>
</html>
