<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src='/js/handler.js' defer></script>
</head>
<style> 
    td {
        padding-right: 15px;
        padding-left: 5px;
    }
    
    table, td {
        border: 1px solid;
        border-collapse: collapse;
    }
    
    th {
        background-color: lightblue;
        height: 75px;
        font-size: 20px;
    }
    
    table {
        width: 950px;
    }
</style>
<body>
    <% if(session.isLoggedIn){ %>
        <a href="../users/homepage?userID=<%=session.userID%>"><div class='text-center color1' id="header">
            <h1>Character Network</h1>
        </div></a>
        <% if(session.role !== 1 && projectInfo.public === 0 && session.userID !== projectInfo.userID){ %>
                <h1>This project isn't public!</h1>
        <% } else { %>
            <table>
                <col style="width:20%;">
                    <tr>
                        <th colspan="2"> Name: <%=projectInfo.projectName%> </th>                    
                    </tr>
                <tr>
                    <td class="text-center"> Type: </td>
                    <td> <%= projectInfo.projectType %></td>
                </tr>
                <tr>
                    <td class="text-center"> Genre: </td>
                    <td> <%= projectInfo.genre %></td>
                </tr>
                <tr>
                    <td class="text-center longtextData"> Description: </td>
                    <td> <%= projectInfo.projectDescription %></td>
                </tr>
                <tr>
                    <td class="text-center"> Characters: </td>
                    <td>
                        <div>
                            <% for(let i = 0; i < projectsCharacters.length; ++i){ %>
                                <!-- show if it is the owner, -->
                                <% if(session.userID === projectInfo.userID){ %>
                                    <a href="../characters/charPage/<%=projectsCharacters[i].charID%>"><p class="emphasis-hover"><%= projectsCharacters[i].name %></p></a>
                                <% } else if(projectsCharacters[i].public === 1){ %>
                                    <a href="../characters/charPage/<%=projectsCharacters[i].charID%>"><p class="emphasis-hover"><%= projectsCharacters[i].name %></p></a>
                               <% } %>
                        <% } %>
                        </div>
                    </td>
                </tr>
            </table> <br>
            <!-- display characters in this project -->
                
            <% } %>
            
            <% if(session.userID === projectInfo.userID){ %>
            <div class='flex-parent'>
                <% if( projectInfo.public === 0){ %>
                    <form action="/projects/changeVisibility?projectID=<%=projectInfo.projectID%>&visibility=1" method="post">
                        <button id="private-button" class="fancy-button2" name="<%= projectInfo.projectID %>">make public</button><br>
                    </form>
                <% } else{ %>
                    <form action="/projects/changeVisibility?projectID=<%=projectInfo.projectID%>&visibility=0" method="post">
                        <button id="public-button" class="fancy-button2" name="<%= projectInfo.projectID %>">make private</button><br>
                    </form>
                <% } %>
                <form action="/projects/editProjectPage?projectID=<%= projectInfo.projectID %>" method="post">
                    <button class='fancy-button2'>Edit</button>
                </form>
            <%  } %>
            </div>
    <% } else { %>
        <%- include('partials/accessDenied.ejs') %>
    <% } %>
</body>
</html>
