<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Network</title>
    <link rel="stylesheet" type="text/css">
    <script src='/js/handler.js' defer></script>
</head>
<body>
    <div>
        <%- include('partials/header.ejs') %>
    </div>
    <% if(projectInfo.public === 0 && session.userID !== projectInfo.userID){ %>
            <h1>This project isn't public!</h1>
       <% } else { %>
        <div>
            <p><%= projectInfo.projectName %></p><br>
            <p><%= projectInfo.projectType %></p><br>
            <p><%= projectInfo.genre %></p><br>
            <p><%= projectInfo.projectDescription %></p><br>
            <% if(session.userID === projectInfo.userID){ %>
                <% if( projectInfo.public === 0){ %>
                    <form action="/projects/changeVisibility?projectID=<%=projectInfo.projectID%>&visibility=0" method="post">
                        <button id="private-button" name="<%= projectInfo.projectID %>">make private</button><br>
                    </form>
                <% } else{ %>
                    <form action="/projects/changeVisibility?projectID=<%=projectInfo.projectID%>&visibility=1" method="post">
                        <button id="public-button" name="<%= projectInfo.projectID %>">make public</button><br>
                    </form>
                <% } %>
            <%  } %>
        </div>
        <!-- display characters in this project -->
            <div>
                <% for(let i = 0; i < projectsCharacters.length; ++i){ %>
                    <p><%= projectsCharacters[i].name %></p>
               <% } %>
            </div>
        <% } %>
</body>
</html>